.Card__title {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  text-shadow: 1px 1px 2px #cc7605;
}
.CardView {
  display: flex;
  margin-left: 30px;
}
.CardInformation {
  justify-content: flex-start;
  margin-left: 20px;
}
.CardInformation__title {
  text-align: start;
  margin: 0;
}
.CardInformation .Card__title {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  color: #cc7605;
  text-decoration: underline;
  margin-top: 0;
}
.title_link {
  color: black;
  cursor: pointer;
}
.title_link:hover,
.title_link:focus {
  color: #cc7605;
}
